<main>
<h1><%= @recipe.name %></h1>
<%= image_path @recipe.thumbnail %>
<h2>Ingredients</h2>
<ul>
<% @recipe.ingredients_recipes.each do |ingredient_recipe| %>
  <li><strong><%= ingredient_recipe.ingredient.name %></strong>: <%= ingredient_recipe.quantity %><%= ingredient_recipe.unit %></li>
  <span>Energy: <%= ingredient_recipe.ingredient.calories_unit %> KCAL <br>
  Carbs: <%= ingredient_recipe.ingredient.carbs_unit %> <br>
  Protein: <%= ingredient_recipe.ingredient.protein_unit %><br>
  Fat: <%= ingredient_recipe.ingredient.fat_unit %></span>
<% end %>
</ul>

</main>
